.timerHeader {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background: #C4C4C4;
	height: 55px;
}

.work {
	background: #DC3E22;
}

.break {
	background: #A8B64F;
}

.taskTitle {
	margin: 14px 40px;
	font-weight: bold;
}

.pomodoroNumber {
	position: absolute;
	font-weight: normal;
	right: 40px;
}

.taskTitle,
.pomodoroNumber {
	font-style: normal;
	font-size: 16px;
	line-height: 17px;
	color: #FFFFFF;
}